/* File Contains styles of all the html pages used in the demo */

/* Footer */
footer {
text-align: center;
font-size: 1em;
bottom: 0;
position: fixed;
}

/* Body */

body {
    background-color: white;
    color: black;
    font-family:"Times New Roman, Times, serif";
    margin: auto;
    max-width: 75%;
}

.body span{
    font-family:"Times New Roman, Times, serif";
}

.logo {
    height: auto;
max-width:  100%;   
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.p {
    font-size: 1em;
    font-family:"Times New Roman, Times, serif";
}

/* Menu styles */

.home {
    margin-top: 1em;
    display:  flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: auto;
}

.menu {
    align-items: center;
    background-color: rgba(57, 114, 224, 1);
    flex-direction: row;
    display: flex;   
    justify-content: space-evenly;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    padding: 1em;
    line-height: 20px;
    margin: 0;
    color: white;
}



/* Flex container styles */

.flex-container  {
    flex-direction: row;
    display: flex;   
    justify-content: space-evenly;
    font-size: 1em;
    font-family: " Times New Roman, Times, serif";
    align-items: center;
}

.flex-container-col  {
    flex-direction: column;
    display: flex;   
    justify-content: space-evenly;
    
}

/* Intro background image styles */
.introimg
{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

}

span {
    margin-left: 1;
}

/* anchor tag styles */

a{
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    
}

a span
{
    color: lightblue;
}
a:link    {color:lightblue;}
a:hover   {color:whitesmoke;} 

/* css grid styles for gallery */
.grid {

    display: grid;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.grid img {
    width: 100%;
    border : 1px solid white;
    object-fit: cover;
    height: auto;
}

/*Responsive styles */
@media only screen and (max-width: 480px) {
    img {
      width: 100%;
      height: min-content;
    }
  }

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

